.navWhole {
    position: absolute;
    width: 100%;
    background-color: rgba(4, 42, 29, 0.37);
    box-shadow: 0 4.5vh 3.5vh 7.5vh rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.line1 {
    display: none;
    width: 6vw;
    height: 0.5vw;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 1vw;
    margin-left: 81.7vw;
    margin-top: 6.5vw;
    z-index: 10;
}

.line2 {
    display: none;
    width: 6vw;
    height: 0.5vw;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 1vw;
    margin-left: 81.7vw;
    margin-top: 2vw;
    opacity: 1;
    z-index: 10;
}

@keyframes lineAppear2 {
    0%{
        margin-top: -1vw;
        opacity: 0;
    }
    100%{
        margin-top: 2vw;
        opacity: 1;
    }
}

@keyframes lineAppear1 {
    0%{
        margin-top: 12vw;
        opacity: 0;
    }
    100%{
        margin-top: 6.5vw;
        opacity: 1
    }
}

@keyframes lineshiftRight1 {
    0% {
        margin-left: 51.5vw;
    }
    100% {
        margin-left: 61.5vw;
    }
}

@keyframes lineshiftRight2 {
    0% {
        margin-left: 61.5vw;
    }
    100% {
        margin-left: 71.5vw;
    }
}

@keyframes lineshiftRight3 {
    0% {
        margin-left: 71.5vw;
    }
    100% {
        margin-left: 81.5vw;
    }
}

@keyframes lineshiftLeft1 {
    0% {
        margin-left: 61.5vw;
    }
    100% {
        margin-left: 51.5vw;
    }
}

@keyframes lineshiftLeft2 {
    0% {
        margin-left: 71.5vw;
    }
    100% {
        margin-left: 61.5vw;
    }
}

@keyframes lineshiftLeft3 {
    0% {
        margin-left: 81.5vw;
    }
    100% {
        margin-left: 71.5vw;
    }
}

@keyframes lineshiftLeft4 {
    0% {
        margin-left: 81.5vw;
    }
    100% {
        margin-left: 71.5vw;
    }
}

@keyframes lineshiftLeft5 {
    0% {
        margin-left: 81.5vw;
    }
    100% {
        margin-left: 51.5vw;
    }
}

@keyframes lineshiftLeft6 {
    0% {
        margin-left: 71.5vw;
    }
    100% {
        margin-left: 51.5vw;
    }
}

@keyframes lineshiftLeft7 {
    0% {
        margin-left: 81.5vw;
    }
    100% {
        margin-left: 61.5vw;
    }
}

@keyframes lineshiftLeft8 {
    0% {
        margin-left: 51.5vw;
    }
    100% {
        margin-left: 71.5vw;
    }
}

@keyframes lineshiftLeft9 {
    0% {
        margin-left: 51.5vw;
    }
    100% {
        margin-left: 81.5vw;
    }
}

@keyframes lineshiftLeft10 {
    0% {
        margin-left: 61.5vw;
    }
    100% {
        margin-left: 81.5vw;
    }
}

.grid-container {
    position: absolute;
    width: 40vw;
    height: 5vw;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: aqua;
    margin-left: 57.7vw;
    margin-top: 2vw;
    gap: 3vw;
    opacity: 0;
    z-index: 1;
}

.grid-item {
    width: 4vw;
    height: 4vw;
    background-color: rgba(172, 16, 16, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.navHome {
    position: absolute;
    width: 9vw;
    height: 2.5vw;
    margin-left: 50vw;
    align-self: center;
    font-size: 2vw;
    margin-top: 3.25vw;
    z-index: 20;
    text-align: center;
    color: antiquewhite;
}

.navAbout {
    position: absolute;
    width: 9vw;
    height: 7vh;
    margin-left: 60vw;
    align-self: center;
    font-size: 2vw;
    margin-top: 3.25vw;
    z-index: 20;
    color: antiquewhite;
    text-align: center;
}

.navTemp1 {
    position: absolute;
    width: 7vw;
    height: 7vh;
    margin-left: 71vw;
    align-self: center;
    font-size: 2vw;
    margin-top: 3.25vw;
    z-index: 20;
    color: antiquewhite;
    text-align: center;
}

.navTemp2 {
    position: absolute;
    width: 7vw;
    height: 7vh;
    margin-left: 81vw;
    align-self: center;
    font-size: 2vw;
    margin-top: 3.25vw;
    z-index: 20;
    color: antiquewhite;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.9vw;
    background-image: linear-gradient(rgba(17, 10, 26, 0), #4c037c);
}

::-webkit-scrollbar-track {
    border-radius: 4vw;

    box-shadow:  inset rgba(47, 7, 70, 0.75) 0 0 0.7vw;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(37, 4, 63, 0.8);
    border-radius: 4vw;
}